html {
	height: 100%;
	width: 400px;
}
body {
	background:url("../images/notepad2.jpg");
}
#headings {
	float: left;
	width: 95%;
}
#title {
	background-color: white;
	overflow: hidden;
	outline: 2px solid black;
	width: 95%;
	padding: 5px;
}
#main_area {
	float: left;
	clear: both;
	width: 95%;
}
#text {
	float: left;
	width: 95%;
	padding: 5px;
	min-height: 275px;
	border: 2px solid black;
	overflow: auto;
}
#buttons {
	float: left;
	clear: both;
	margin-top: 10px;
}
#menuOptions {
	float: left;
	clear: both;
}
#footer {
	clear: both;
}
.modified:after {
	content: "*";
}
#title[contenteditable="true"]:focus {
	outline: 2px solid red;
}
#dialog {
	display:none;
}