<!doctype html>

<html>
<head>
	<!-- CSS -->
	<link href="css/custom-theme/jquery-ui-1.10.4.custom.css" rel="stylesheet">
	<link href="css/generalstyle.css" rel="stylesheet">
	<!-- Include JQuery and Underscore.js -->
	<script src="underscore-min.js" type="text/javascript"></script>
	<script src="jquery-1.6.2.min.js"></script>
	<script src="js/jquery-ui-1.10.4.custom.js"></script>
	<!-- Functionality -->
	<script src="documentModule.js"></script>
	<script src="dialogModule.js"></script>
	<script src="script.js"></script>
</head>

<body>
	<div id="headings">
		<h3 id="title"></h3>
	</div>
	<div id="main_area">
		<div id="notepad">
			<!-- Interactive Writing Section -->
			<textarea name="text" id="text"></textarea>
		</div>
		<div id="buttons">
			<!-- Controls -->
			<button type="button" id="new">New</button>
			<button type="button" id="save">Save</button>
			<button type="button" id="load">Load</button>
			<button type="button" id="delete">Delete File</button>
			<button type="button" id="delAll">Delete All</button>
		</div>
	</div>
	<div id="menuOptions">
		<script id="menuTemplate" type="underscore/template">
				<% _.each(titleList, function(title) { %>
					<option>
						<%= title %>
					</option>
				<% }); %>
		</script>
		<select id="loadMenu"></select>
		<select id="delMenu"></select>
	</div>
	<div id="dialog"></div>
	<div id="footer"></div>
</body>
</html>
